body{

}

table {
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  }

tfoot {
  position: sticky;
  bottom: 0;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

th, tfoot {
  background-color: rgb(129, 218, 210);
}

tbody tr:hover {
  /*content: "attr(type)";/* Выводим текст */
  position: relative;
  /* Абсолютное позиционирование */
  /*left: 0; right: 0; bottom: 5px; /* Положение подсказки */
  z-index: 1;
  /* Отображаем подсказку поверх других элементов */
  /*background: rgba(255, 255, 230, 0.9);/* Полупрозрачный цвет фона */
  /*font-family: Arial, sans-serif; /* Гарнитура шрифта */
  /*font-size: 11px; /* Размер текста подсказки */
  /*padding: 5px 10px;
  /* Поля */
  /*border: 1px solid #333;
  /* Параметры рамки */
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);/**/
}

input:focus {
  /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);/**/
}

.outline {
  display: inline;
}

input.product-count {
  width: 6em;
}

div.big_table {
  display: inline-block;
  border: 1px solid purple;
  height: 40em;
  overflow: auto;
}

input{
  width: 100px;
}

tbody tr:hover{
  background-color: rgb(243, 167, 167);
}

.weight{
  width: auto;
}